@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color_1: hsl(212, 45%, 89%);
    --color_2: hsl(216, 15%, 48%);
    --color_3: hsl(218, 44%, 22%);
    --white: hsl(0, 0%, 100%);
    --font: "Outfit", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color_1);
}

.wrap {
    position: absolute;
    width: 20rem;
    height: 31.1875rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 1.25rem;
    padding: 1rem;
    box-shadow: 1px 1px 40px rgba(104, 119, 141, 0.2);
}

.qr img {
    width: 18rem;
    height: 18rem;
    border-radius: 0.625rem;
}

.text{
    margin-top: 0.5rem;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.text h1{
    font-family: var(--font);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color_3);
    font-weight: 700;
}

.text p{
    font-family: var(--font);
    font-size: 0.9375rem;
    text-align: center;
    color: var(--color_2);
    font-weight: 400;
}

.attribution {
    margin: 0.625rem;
    position: absolute;
    bottom: 0;
    font-size: 0.6875rem;
    text-align: center;
    font-family: var(--font);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
